<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <button [routerLink]="'/pasien-page'" type="button" class="btn btn-primary">BACK</button>
        </div>

        <div class="card-body">




            <br>
            <br>
            <br>

            <div class="container">
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <div align="center">
                       
                        <!-- <div class="form-group"> -->
<br>
<hr>
<br>
                     
                            <h3>ALMEGATEX</h3>
                                <hr />
                                <h4>Nomor antrian anda :</h4>
                                <br>
                                <h1><b>A00{{nomor_antrian}}</b></h1>
                           
                            <br>

                            <h4>Nomor antrian anda :</h4>
                            <br>
                       <h1>IIIIIIIIIIIIIIIIIIIIIIIIII</h1>
                            <br>
                            <h4>{{createdAt | date: 'dd/MM/yyyy HH:mm' }} </h4>

                            <br>
                            <h5>Budayakan antri untuk kenyamanan bersama</h5>
                            <h5>Terima Kasih atas kunjungan anda</h5>
                        </div>
                        <!-- <div *ngIf="fileUploadProgress">
                            Upload progress: {{ fileUploadProgress }}
                        </div>
                        <div class="image-preview mb-3" *ngIf="previewUrl">
                            <img [src]="previewUrl" height="300" />
                        </div>

                        <div class="mb-3" *ngIf="uploadedFilePath">
                            {{uploadedFilePath}}
                        </div> -->



                    </div>
                </div>
            </div>






        </div>
    </div>